.chat {
  background: #c5ddeb;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.onlineStatus {
  display: flex;
}
.onlineStatus .light {
  margin-bottom: 6%;
  margin-left: 5%;
}
#user-list {
  margin: 0 auto;
  width: 900px;
  background: #444753;
  border-radius: 5px;
  width: 260px;
  float: left;
}
.backpage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.messages {
  width: 490px;
  float: left;
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: #434651;
  border-bottom: 2px solid white;
}
.line {
  margin: 0;
  padding: 0;
}
.msgSendBtn {
  margin-left: 10px;
  background: rgb(47, 114, 238);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}

.room {
  font-weight: bold;
  font-size: 16px;
}
#chatMessages {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
