.chat-wrapper {
  width: 100%;
  min-height: 80vh;
  display: flex;
  background-color: #f2f5f8;
  border-radius: 10px;
}

#user-list {
  width: 30%;
  min-height: 100%;
  background-color: #444753;
  border-radius: 10px;
  color: white;
}

#user-list h4 {
  text-align: center;
}

.chat-messages-container {
  width: 70%;
  min-height: 100%;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
}

#chatMessages {
  height: 80%;
  border-bottom: 5px solid white;
  font-size: 10px;
}

#message-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-top: 1rem;
}

#message-input input {
  border: 1px solid rgb(220, 200, 200);
  outline: none;
  height: 100%;
  padding: 0 1rem;
}

.room-name {
  font-weight: bolder;
  text-align: center;
}

.msgSendBtn {
  padding: 0.1rem 2.5rem;
  border-radius: 5px;
  background-color: #94c2ed;
  cursor: pointer;
}

.single-msg {
  height: 20%;
  padding: 1rem;
  border-radius: 10px;
}

.sender-name {
  color: rgb(200, 200, 200);
  display: flex;
  align-items: center;
}

.circle-div {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 1rem;
}

.my-msg {
  background-color: #94c2ed;
}

.not-my-msg {
  background-color: #86bb71;
}

.onlineStatus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-align {
  float: right;
  width: 50%;
}

.left-align {
  float: left;
  width: 50%;
}
